<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="resources/main.css" type="text/css">

<h1 class="centered_title">Create a Home<h1>
<h2 class="type">Has a roommate already created a home? <a href="/join_home">Click here</a></h2>
<form action="" method="post">
    <h1 class="type">Home Name: <input type="text" class="text_boxes" name="name"/></h3>
    <h1 class="type">Password: <input type="text" class="text_boxes" name="password"/></h3>
    <input type="submit" value="Create Home"/>
</form>